* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f5f7fa;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
}
h1 {
    font-size: 45px;
    line-height: 2;
    padding: 10px;
    color: #1e2939;
    font-weight: 700;
}
h1:hover, p:hover, h3:hover, h4:hover {
    background:linear-gradient(45deg, rgb(228, 214, 230), rgb(40, 29, 104));
}
h2 {
    font-size: 16px;
}
p {
    font-size: 16px;
    line-height: 1.714;
    margin-bottom: 27px;
    text-align: justify;
    padding-right: 40px;
}
b{
    color: #1e2939;
}
.wraper {
        background: #f5f7fa;
        
}

.mainContainer {
        background: rgb(17, 15, 119);
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 5px 9px 20px rgb(84, 80, 106);
}

.leftContainer {
    background:#1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.rightContainer {
    background: white;
    padding-left: 90px;
    padding-right: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.imgPhoto img {
    width: 370px;
    max-height: 220px;
    min-height: 220px;
}

.one {
    display: block;
    position: absolute;
    transition-duration: 2s;
}
.one .two {
    border: 2px solid transparent;
    margin: 0;
    padding: 0;
}

.one:hover {
    opacity: 0.00;
}
.contactContainer, .techSkillsContainer, .softkillsContainer {
    color: orange;
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 55px;
    line-height: 2;
}
.techSkillsContainer, .softkillsContainer, .contactTitle, .leftItemText {
    color: rgb(250, 249, 249);
}


.contactLink {
    color: white;
    text-decoration: none;
}
.contactLink:hover , .progectLink:hover {
    color: tomato;
}
.leftItem {
    color: orange;
}
.progectsContainerMobile {
    display: none;
}
.progectsTitle, .experienceTitle, .educationTitle, .dreamsTitle {
    color: #161627;
    font-size: 20px;
    font-weight: 700;
    line-height: 4;
}
.progectsItem {
    font-weight: 700;
    line-height: 1.714;
    margin-left: 15px;
}

.progectLink, .dots, .text {
    text-decoration: none;
    color: gray;
    font-weight: 400;
}
.profesionTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.profesionCompany {
    color: orange;
}
.profesionPeriod {
    color: gray;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 15px;
}
.experienceItem, .dreamsItem {
    line-height: 1.714;
    margin-left: 15px;
}